# Node/App Environment - e.g. "development", "test" or "production"
NODE_ENV=

# Application http port - e.g. 3333
HTTP_PORT=

# Database type - better-sqlite3 or pg
DATABASE_TYPE=

# SQLite database path - e.g. "./db/app.db"
DATABASE_PATH=

# Postgres database URL (optional) - e.g. postgresql://rest_api_db_... 
DATABASE_URL=